{
  "discord_token": "",
  "discord_owner": "",
  "default_prefix": "",
  "imgflip_pass": "",
  "imgflip_user": "",
  "pastebin": "",
  "youtube_api": "",
  "google_custom_search_key": "",
  "google_api": "",
  "wolfram_api": ""
}